<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNet.ScriptManager.jQuery" version="3.1.1" targetFramework="net40" />
  <package id="Batman.Core" version="1.0.0071" targetFramework="net40" />
  <package id="Batman.Core.Communication.SMTP" version="1.0.0071" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-DataTypes" version="3.4.0199" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-IO" version="3.4.0199" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-Reflection" version="3.4.0199" targetFramework="net40" />
  <package id="jQuery" version="3.1.1" targetFramework="net40" />
</packages>