<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="~/about.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="ValidatonSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="On" defaultRedirect="~/Contact.aspx">
      <error statusCode="404" redirect="~/Contact.aspx"/>
      <error statusCode="500" redirect="~/about.aspx"/>
    </customErrors>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from ="mikelalone@gmail.com">
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>